[submodule "Digiprime"]
	path = Digiprime
	url = https://github.com/EricChiquitoG/Digiprime
[submodule "NegotiationEngine"]
	path = NegotiationEngine
	url = https://github.com/EricChiquitoG/NegotiationEngine
